.conteudo{
    position: relative;
    background-color:#DCDCDC;
    color:beige;
    width:auto;
    height:800px;
    text-align:justify;
   

  }
.conteudo p{
  position: absolute;
  font-size: 11pt;
  color:rgb(49, 49, 49);
 
  text-align: justify;
  padding: 5%;
  bottom: 390px;
  font-family:     'Trebuchet MS', sans-serif;
 font-weight: bold;

  }
  .manhua, .manga, .manhwa{
    position: relative;
    background-color: rgb(255, 255, 255);
    color:beige;
    height: 650px;
    margin:20px;
    margin-top: 45px;
    width:370px;
    left:55px;
    float:left;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 4px solid #FF3334;
  }
  .imagem1, .imagem2, .imagem3{
    position: relative;
    color:beige;
    height: 380px;
    width:320px;
    float:left;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 220px;
    border: 1px solid #000000;

  }
  .imagem1{
    position: relative;
  background-image:url(manga1.png);
  


  }
  .imagem2{
    position: relative;
  background-image:url(manhwa1.png);


  }
  .imagem3{
    position: relative;
  background-image:url(manhua1.png);

 
  }
  h3{
    position:absolute;
color:#FF3334;
text-align: center;
bottom: 600px;
font-weight: bold;


  }
  
